*, ion-label{
  font-family: 'Patua One', cursive;
}

#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    margin-bottom: 10%;
    width: 98%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  #container ion-label{
    font-size: 2.1rem;
  }
  
  #container ion-button{
    width: auto;
    height: 50px;
    margin-bottom: 10%;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #000000;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #conteudo{
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  ion-item{
    --background: white;
    border-radius: 20px;
    margin-bottom: 10%;
  }
  
  #conteudo .resultado{
    margin-left: 6%;
  }
  
#conteudo ion-label, ion-icon, ion-input{
  color: rgb(0, 0, 0);
}
 

   #sexo ion-label{
    margin-left: 5px;
    margin-right: 30px;

  }

  #sexo ion-item{
    height: 50px;
    width: 100%;
  }
  
  .titulo{
    margin-right: 5px;
    font-size: 30px;
    color:white;
  }
  
  @media only screen and (max-width: 800px){
    ion-toolbar{
    height: 55px;
  }
    ion-title{
    font-size: 1.6rem;
  }
  #sexo{
    display: flex;
    flex-direction: column;
  }

  }
  
  @media only screen and (min-width: 801px){
    ion-toolbar{
      height: 60px;
    }
    ion-title{
      font-size: 1.8rem;
    }

    #container {
      top: 10%;
      margin-bottom: 30px;
      width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    
    #container ion-label{
      font-size: 2.1rem;
    }
    
    #container ion-button{
      width: auto;
      height: 50px;
      margin-bottom: 30px;
    }
    
    #container strong {
      font-size: 20px;
      line-height: 26px;
    }
    
    #container p {
      font-size: 16px;
      line-height: 22px;
    
      color: #000000;
    
      margin: 0;
    }
    
    #container a {
      text-decoration: none;
    }
    
    #conteudo{
      margin-top: 10px;
      display: block;
      width: 40%;
    }
    
    ion-item{
      --background: white;
      border-radius: 20px;
      margin: 20px;
    }

    #sexo {
      display:flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }

    #sexo ion-label{
      font-size: 1.5rem;
      color: white;
    }
    #sexo ion-icon{
      color: #29c869;
      font-size: 50px;
    }
  
    #sexo ion-item{
      --background: none
      display:flex;
      align-items: center;
      align-content: center;
      width: 100%;
    }
  }

#texto *{
    color: white;
}

#abaixo, #ideal, #sobre, #graui, #grauii, #grauiii, #curvam, #curvaf{
  display: none;
  color: white;
  text-align: left;
  left: 0;
  right: 0;
  top: 10%;
  margin-bottom: 10%;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#resultado{
  text-align: center;
  left: 0;
  right: 0;
  top: 10%;
  margin-bottom: 5%;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#menos, #saudavel, #acima, #um, #dois, #tres{
  display: none;
  color: white;
  text-align: left;
  left: 0;
  right: 0;
  top: 10%;
  margin-bottom: 10%;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

ion-img{
  width: 100%;
  height: auto;
}
