<ion-content [fullscreen]="true">
  <ion-header collapse="fade">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="inicial"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button> </ion-menu-button>
      </ion-buttons>
      <ion-title><ion-icon class="titulo" name="accessibility-outline"></ion-icon>IMC</ion-title>
    </ion-toolbar>
  </ion-header>


<div id="conteudo">

<form [formGroup]="imcForm" novalidate>

<div id="sexo">
 <ion-radio-group [(ngModel)]="genero" formControlName="sexo" required>

<ion-item>
  <ion-label>Qual seu sexo?</ion-label>

  <ion-radio value="masculino"></ion-radio>
  <ion-icon name="man-outline"></ion-icon>

  <ion-radio value="feminino"> </ion-radio>
  <ion-icon name="woman-outline"></ion-icon> 
</ion-item>

</ion-radio-group>
</div>

<ion-item>
  <ion-label position="floating">Digite sua Idade:</ion-label>
  <ion-input type="number" [(ngModel)]="idade" placeholder="Exemplo: 18" formControlName="idade" clearInput></ion-input>
</ion-item>
  
<ion-item>
  <ion-label position="floating">Digite sua Altura em metros:</ion-label>
  <ion-input type="number" [(ngModel)]="altura" placeholder="Exemplo: 1,72" formControlName="altura" clearInput></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Digite seu Peso em kg:</ion-label>
  <ion-input type="number" [(ngModel)]="peso" placeholder="Exemplo: 61,50" formControlName="peso" clearInput></ion-input>
</ion-item>

</form>

</div>

 <div id="container">
<ion-button [disabled]="!imcForm.valid" (click)="calcular()"><ion-label>CALCULAR</ion-label></ion-button>

<div *ngIf="resultado" id="resultado">
  <h1>Resultado IMC: {{resultado}}</h1>
</div>
<div id="menos">
  <ion-img src="assets/img/imc_blue.png" alt="curva menino"></ion-img>
</div>
<div id="saudavel">
  <ion-img src="assets/img/imc_green.png" alt="curva menino"></ion-img>
</div>
<div id="acima">
  <ion-img src="assets/img/imc_amarelo.png" alt="curva menino"></ion-img>
</div>
<div id="um">
  <ion-img src="assets/img/imc_laranja.png" alt="curva menino"></ion-img>
</div>
<div id="dois">
  <ion-img src="assets/img/imc_laranja_escuro.png" alt="curva menino"></ion-img>
</div>
<div id="tres">
  <ion-img src="assets/img/imc_red.png" alt="curva menino"></ion-img>
</div>


<div id="curvam">
  <h2>Grafico da Curva de Crescimento</h2>
  <ion-img src="assets/img/curvam.jpeg" alt="curva menino"></ion-img>
</div>

<div id="curvaf">
  <h2>Grafico da Curva de Crescimento</h2>
  <ion-img src="assets/img/curvaf.jpeg" alt="curva menino"></ion-img>
</div>

<h1>Confira uma dieta para seu IMC!</h1>
<ion-button [disabled]="!imcForm.valid" (click)="conferirDieta()"><ion-label>DIETA AQUI!</ion-label></ion-button>


</div>

</ion-content>

