#container{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

body{
    --background: #100C2A;
    position: relative;
}

*{
    font-family: 'Patua One', cursive;
}

#container ion-button{
    margin-top: 5%;
    margin-bottom: 10%;
    height: 50px;
    font-size: 1.1rem;
}

.titulo{
    margin-right: 5px;
    font-size: 30px;
    color:white;
  }
  
  @media only screen and (max-width: 800px){
    ion-toolbar{
    height: 55px;
  }
    ion-title{
    font-size: 1.6rem;
  }
  }
  
  @media only screen and (min-width: 801px){
    ion-toolbar{
      height: 60px;
    }
    ion-title{
      font-size: 1.8rem;
    }
  }
