*{
    font-family: 'Patua One', cursive;
}

body{
position: relative;
}

ion-icon{
    transform: translateY(20%);
    font-size: 32px;
    margin-right: 2px;
}

ion-img{
    height: 300px;
    width: auto;
    margin-top: 20px;
}

#container {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
  }

#container .title,.subtitle {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#container .title{
    color: #49f08c;
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 5%;
}

#container .subtitle{
    margin-bottom: 5%;
}

#container ion-list{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background:none;
}

#container ion-input{
    --background:none;
    
}

#container ion-item{
    --background:none;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
    background: rgb(185, 185, 185);
    color: black
}

#container ion-button{
    margin-top: 6%;
    height: 55px;
    font-size: 1.7rem;
}

#container .cadastro{
    font-size: 1.2rem;
    margin-top: 4%;
    margin-bottom: 5%;
}

#container .cadastro ion-label{
    margin-bottom: 10%;
}

@media only screen and (max-width: 800px){

    ion-toolbar{
        height: 55px;
      }
        ion-title{
        font-size: 1.6rem;
      }

      #container .title{
        font-size: 2.8rem;
    }

    }
    @media only screen and (min-width: 801px){

    ion-toolbar{
        height: 60px;
      }
      ion-title{
        font-size: 1.8rem;
      }

    #container {
        width: 50%;
        margin-bottom: 30px;
    }
    #container .title{
        margin-bottom: 20px;
        font-size: 2.8rem;
    }
    #container .subtitle {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    #container ion-item{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    

    }
    @media only screen and (min-width: 1000px){
    #container .title{
        font-size: 3rem;
    }

    }
        