<ion-content [fullscreen]="true">
  <ion-header collapse="fade">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="inicial"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button> </ion-menu-button>
      </ion-buttons>
      <ion-title><ion-icon class="titulo" name="people-outline"></ion-icon>Integrantes</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<div id="quem">
  <ion-img src="assets/img/einstein.png" alt="imc"></ion-img>
<center><h1>Quem somos nós?! 🤔</h1><br></center>
<p>Nós somos estudantes do segundo ano do Ensino Médio com Habilitação Profissional em Técnico em Desenvolvimento 
  de Sistemas da ETEC Albert Einstein, 2022. Este trabalho foi realizado na matéria de 
  Educação Física, como orientador Jefferson Lopes da Silva.</p>
 <p>O trabalho envolvia a criação de um aplicativo para a área da saúde, com monitoramento da variação cardíaca, 
  medição do IMC e recomendação de dietas ideais para cada tipo de IMC.</p>
<br>
<h2>Integrantes:</h2>
<ul>
  <li>Alexsandro Urbano da Silva Filho</li>
  <li>Helena Alonso Martins</li>
  <li>Luiza Almeida Carolino Paz</li>
  <li>Marcella Yumi Toda Dantas</li>
  <li>Matheus Novaes de Oliveira</li>
  <li>Pedro Brandão de Campos</li>
</ul>
</div>

<div id="referencias">
  <h1>Referencias utilizadas:</h1>
  <ul>
    <li>https://www.minhavida.com.br/perguntas/26717</li>
    <li>https://centrodeobesidadeediabetes.org.br/tudo-sobre-obesidade/tratamento-da-obesidade/</li>
    <li>https://artigos.natusvita.com.br/sobrepeso-dietas-para-perder-peso-que-funcionam/ </li>
    <li>https://www.who.int/tools/growth-reference-data-for-5to19-years/indicators/bmi-for-age</li>
    <li>https://www.who.int/europe/news-room/fact-sheets/item/a-healthy-lifestyle---who-recommendations#:~:text=Body%20mass%20index%20-%20BMI&text=It%20is%20defined%20as%20a,have%20a%20BMI%20of%2022.9.</li>
  </ul>
  </div>
</ion-content>
