*{
    font-family: 'Patua One', cursive;
}

body{
position: relative;
}

#quem{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}

#quem p{
    width: 90%;
    font-size: 1.0rem;
    margin-left: auto;
    margin-right: auto;
}

#quem h1, h2{
    color: #2FE3E3;
}

#referencias li{
font-size: 0.7rem;
}

ion-img{
    height: 100px;
    margin-top: 10px;
}

#referencias{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
#referencias h1{
    font-size: 0.9rem;
}