*{
  font-family: 'Patua One', cursive;
}

ion-title ion-icon{
  transform:translateY(3px)
}

#quem{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#quem p{
    width: 90%;
    font-size: 1.0rem;
    margin-left: auto;
    margin-right: auto;
}

#quem h1, h2{
    color: #2FE3E3;
}

#referencias li{
font-size: 0.8rem;
}

ion-img{
    height: 150px;
    margin-top: 15px;
}

#referencias{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#referencias h1{
    color: #29c869;
    font-size: 1rem;
}

.titulo{
    margin-right: 5px;
    font-size: 25px;
    color:white;
  }
  
  @media only screen and (max-width: 800px){
    ion-toolbar{
    height: 55px;
  }
    ion-title{
    font-size: 1.6rem;
  }
  }
  
  @media only screen and (min-width: 801px){
    ion-toolbar{
      height: 60px;
    }
    ion-title{
      font-size: 1.8rem;
    }

    ion-img{
      height: 180px;
    }

    #quem h1{
      font-size: 2rem;
    }
    #quem h2{
      font-size: 1.7rem;
    }
    #quem p, li{
      font-size: 1.3rem;
    }

    #referencias h1{
      font-size: 1.6rem;
    }
    #referencias li{
      font-size: 1.2rem;
    }

  }