/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


ion-toast.toastClass {
    --background: #246161;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #ffffff;
  }
      
  ion-toast.toastClass::part(header) {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(96, 214, 92);
  }
  ion-toast.toastClass::part(message) {
    font-size: 1rem;
  }
  ion-toast.toastClass::part(icon) {
    font-size: 50px;
    color: rgb(96, 214, 92);
  }

  ion-content {
    --background: rgba(24, 24, 24, 0.779) !important;
    --ion-background-color: rgba(24, 24, 24, 0.779) !important;
  }
