*{
    font-family: 'Patua One', cursive;
}

ion-title ion-icon{
  transform:translateY(3px)
}

.titulo{
  margin-right: 5px;
  font-size: 25px;
  color:white;
}

ion-card{
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px){
  ion-toolbar{
  height: 55px;
}
  ion-title{
  font-size: 1.4rem;
}
}

@media only screen and (min-width: 801px){
  ion-toolbar{
    height: 60px;
  }
  ion-title{
    font-size: 1.8rem;
  }
}

  ion-card-header {
    display: flex;
    flex-flow: column-reverse;
  }

  h2,h3,h4{
    margin:0;
    color: whitesmoke;
  }

  h1{
    margin: 0;
    color: #238383;
  }

.filtro {
  margin:5px;
  .fil-icon{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 22px;
  transform:translateY(3px);
  }
  .fil-text{
  font-size: 1.2rem;
  }
  .grid{
    display:grid;
  }
}