*{
    font-family: 'Patua One', cursive;
}

body{
position: relative;
}

#header ion-title{
    margin-left: -10%;
    font-size: 150%;
}

#inicio{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#inicio ion-button{
height: 200px;
width: auto;

}

img{
    width: auto;
    height: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}



#inicio p{
    width: 90%;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
}

#inicio h2, h3, h5{
    color: #2FE3E3;
    font-size: 1.5rem;
}

#inicio h4{
font-size: 1.1rem;
width: 90%;
}

#header ion-img{
    margin:1%;
    float: left;
    height: 70px;
    width: auto;
}