*{
    font-family: 'Patua One', cursive;
}

body{
position: relative;
}

#header ion-title{
    margin-top: -1px;
    margin-left: -20px;
    font-size: 2rem;
}

@media only screen and (max-width: 600px){
    ion-button{
        height:200px;
    }
}

@media only screen and (min-width: 600px){
    h1{
        font-size: 2.5rem;
    }
    ion-button{
        height:350px;
    }
    p{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1.6rem;
    }
}

#inicio{
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#inicio ion-button{
width: 80%;
--background: none;
padding: 0;
border: solid 4px #14aaaa;
border-radius: 14px;
}

img{
    width: auto;
    height: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}



#inicio p{
    margin-left: auto;
    margin-right: auto;
}

#inicio h2{
    color: #2FE3E3;
}

#header ion-img{
    margin: 2px;
    height: 80px;
    width: auto;
}