<ion-content [fullscreen]="true">

<div id="header">

  <ion-header collapse="fade">
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-button> </ion-menu-button>
      </ion-buttons>
      <ion-img slot="start" class="logo" src="assets/img/logo.png" alt="logo"></ion-img><ion-title>Healthy Care</ion-title>
    </ion-toolbar>
  </ion-header>

</div>
<center><h1>Bem vindo(a) ao Healthy Care!</h1></center>
<img class="logo1" src="assets/img/logo1.png" alt="logo">

<div id="inicio">
 
<center><h2>Por que cuidar de sua saude?</h2>
<p>
  Cuidar da saúde é uma atitude que deve ser tomada, diariamente, para evitar doenças e, claro, para manter uma vida mais equilibrada. 
  No entanto, muitas vezes, devido à rotina cada vez mais agitada, as pessoas acabam se esquecendo do cuidado que deveriam ter com a saúde.
</p></center>
 <center> <p>Confira mais abaixo!</p>
<h2>Índice de Massa Corporal - IMC</h2>
<ion-button routerLink="/imc"><ion-img src="assets/img/imc.png" alt="imc"></ion-img></ion-button></center>

<p>
   O IMC é uma medida que indica seus status nutricionais e verificar se estão com o peso equilibrado. 
</p>

<br>

<center><h2>Variação Cardíaca</h2>
<ion-button routerLink="/grafico"><ion-img src="assets/img/grafico2.png" alt="imc"></ion-img></ion-button></center>

<p>A variação da frequência cardíaca é uma medida do intervalo de tempo entre seus batimentos cardíacos.</p>
<center> <p>Veja o grafico!</p> </center>

<br>
<center><h2>Exercícios Físicos</h2>
<ion-button routerLink="/exercicios"><ion-img src="assets/img/exercicios-fisicos.png" alt="imc"></ion-img></ion-button></center>

<p>O exercício físico é qualquer atividade que mantém ou aumenta a aptidão física em geral, e tem o objetivo de alcançar a saúde e também a recreação.</p>
<center> <p>Procure por alguns exercícios físicos de seu interesse.</p> </center>

</div>





</ion-content>